

.text-small {
  font-size: 80%;
}

.text-italic {
  font-style: italic;
  font-weight: bold;
}

/* Making the "text-muted" class smaller, seems a bit too large. */
.text-muted {
  font-size: 97%;
}

/* Removing the bottom margin in the Languages and Skills area */
#about > div > div:nth-child(2) > div:nth-child(3) > p.text-faded.no-margin {
    margin-bottom: 0;
}
#about > div > div:nth-child(2) > div:nth-child(4) > p.text-faded.no-margin {
  margin-bottom: 0;
}

/*  
    https://stackoverflow.com/questions/9586596/control-underline-position-on-text-decoration-underline

    These links were also helpful:
    https://www.w3schools.com/css/css_link.asp
    https://www.w3schools.com/css/tryit.asp?filename=trycss_link2
*/
.text-blue {
  color: blue;
  border-bottom: 1px solid currentColor;
}

.text-white-link {
  color: white;
  border-bottom: 1px solid currentColor;
}

/* Link color when it is unvisited */
a.text-blue:link  {
  color: blue;
  border-bottom: 1px solid currentColor;
}
a.text-white-link:link  {
  color: white;
  border-bottom: 1px solid currentColor;
}

/* Link color after being clicked on and visited */
a.text-blue:visited {
  color: blue;
  border-bottom: 1px solid currentColor;
}
a.text-white-link:visited {
  color: white;
  border-bottom: 1px solid currentColor;
}

/* Link color while being hovered on */
a.text-blue:hover {
  color: blue;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}
a.text-white-link:hover {
  color: blue;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

/* Link color the moment it is clicked */
a.text-blue:active {
  color: blue;
  border-bottom: 1px solid currentColor;
}
a.text-white-link:active {
  color: white;
  border-bottom: 1px solid currentColor;
}

.min-padding {
  padding-top: 2em;
  padding-bottom: 2em;
}

.min-padding-top {
  padding-top: 2em;
  padding-bottom: 0em;
}


.div-padding-fix {
  padding-bottom: 2em;
}

/* Adding some background color options */
.bg-yellow {
	/* Instagram yellow - hex code from: https://brandpalettes.com/instagram-color-codes/ */
	background-color: #FCAF45 !important;
}



/* Purple button to go with the Instagram Purple. The active/focus/etc stuff is for when you
   hover / click on the button. */
.btn-purple {
	color: #fff;
	background-color: #C13584 !important;
}
.btn-purple:active, .btn-purple:focus, .btn-purple:hover {
	color: #fff;
	background-color: #c9699f !important;
}
.btn-purple:active, .btn-purple:focus {
	box-shadow:0 0 0 .2rem rgba(240,95,64,.5)!important;
}


/* purple hrefs & hrs */
.href-purple {
	color: #C13584;
}
.hr-purple {
	border-color: #C13584;
	color: #C13584;
}
/* Black hrefs & hrs too */
.href-black {
	color: #000000;
}
.hr-black {
	border-color: #000000;
	color: #000000;
}


.images-vcenter {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

/* 	Add border to the images on the "photography" section 
		https://www.w3schools.com/csS/css3_images.asp
*/
.images-border {
	border: .5em solid #FCAF45;
	border-radius: 1em;
}

.images-border-skiing {
	border: .5em solid #C13584;
	border-radius: 50%;
}

/* Rtn Red Color */
.RtnRed {
	color: #E61231 !important;
	font-weight: bold;
}
