header {
    display: flex;
    background-color: thistle;
    justify-content: space-between;
    padding-top: 10px;
}

h1 {
    color: white;
    font-family: 'Zen Loop';
    font-size: 50px;
    font-weight: 600;
    padding-left: 30px;
    text-align: start;
    margin-top: 0;
    padding-top: 10px;
}

nav {
    padding-right: 30px;
    padding-top: 20px;

}
a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Work Sans', sans-serif;
}