html {
    height: 100%;
}


body {
    background-color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header {
    background-color: whitesmoke;
    height: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

h1 {
    color: BLACK;
    font-family: 'Zen Loop', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: rgb(69, 72, 85);
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    color: white;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    margin-top: 15px;
}

.contacts {
    display: flex;
    padding-left: 40%;
    padding-right: 40%;
}

.contact-column {
    flex: 33.333%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

a {
    color: "white";
    font-size: 30px;
}

.mob-wrapper {
    display: none;
}

/* Tablet View */
@media (max-width: 960px){

    h1 {
        color: white;
        font-family: 'Zen Loop', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        text-align: left;
        padding-left: 30px;
    }

    nav { 
        display: none;
    }

    .mob-wrapper {
        display: block;
        padding-right: 30px;
        padding-top: 25px;
    }

    .mob-nav {
        display: none;
        position: absolute;
    }

    .mob-button {
        display: block;
        padding: 15px 30px;
        background-color: black;
        text-align: center;
        margin-left: -23px;
    }

    .mob-nav a {
        color: white;
        text-decoration: none;
        font-size: 0.8rem;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    img {
        width: 20px;
    }
}
/* Mobile View */
@media (max-width: 600px){
    .contact-column a {
        font-size: 1rem;
    }

    .contact-column p {
        font-size: 0.9rem;
    }

    h1 {
        color: white;
        font-family: 'Zen Loop', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: left;
        padding-left: 30px;
    }

    .mob-wrapper {
        display: block;
        padding-right: 30px;
        padding-top: 15px;
        
    }

    .mob-nav {
        display: none;
        position: absolute;
    }

    img {
        width: 15px;
    }

    .mob-nav a {
        color: white;
        text-decoration: none;
        font-size: 0.5rem;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Montserrat', sans-serif;
    }
}
