html {
    height: 100%;
}


body {
    background-color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header {
    background-color: whitesmoke;
    height: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

h1 {
    color: BLACK;
    font-family: 'Zen Loop', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: rgb(69, 72, 85);
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    color: white;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}

.contacts {
    display: flex;
    padding-left: 40%;
    padding-right: 40%;
}

.contact-column {
    flex: 33.333%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

a {
    color: "white";
    font-size: 30px;
}