html {
    height: 100%;
}


body {
    background-color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header {
    background-color: whitesmoke;
    height: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

h1 {
    color: BLACK;
    font-family: 'Zen Loop', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

footer {
    background-color: rgb(69, 72, 85);
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    color: white;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    margin-top: 15px;
}

.contacts {
    display: flex;
    padding-left: 40%;
    padding-right: 40%;
}

.contact-column {
    flex: 33.333%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

a {
    color: "white";
    font-size: 30px;
}


#gallery {
    line-height:0;
    column-count:3;
    column-gap:70px;
    column-width: 300px;
    padding: 50px;
 }
 
 #gallery img {
    width: 100%;
    height: auto;
    margin-bottom:70px;
 }

/* Tablet View */
@media (max-width: 960px){


    nav a {
        font-size: 0.8rem;
    }

    .gallery {
    column-count:2;
   }
    
}
/* Mobile View */
@media (max-width: 600px){
    .contact-column a {
        font-size: 1rem;
    }

    .contact-column p {
        font-size: 0.9rem;
    }

    header {
        height: 80px;
    }

    h1 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 0.5rem;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .gallery {
    column-count:1;
   }
}
