html {
    height: 100%;
}

body {
    background-color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header {
    background-color: thistle;
    height: 480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(image/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

nav {
    text-align: right;
    padding-top: 50px;
    padding-right: 30px;
}

main {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.data {
    margin-left: auto;
    margin-right: auto;
    width: 512px;
    background-color: teal;
}

.photography {
    margin-left: auto;
    margin-right: auto;
    width: 512px;
    background-color: skyblue;
}

footer {
    background-color: rgb(69, 72, 85);
    background-size: cover;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

footer p {
    color: white;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}

h1 {
    color: white;
    font-family: 'Zen Loop', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    padding-left: 30px;
}

h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    margin-top: 20px;
    text-align: center;
}

a {
    color: "white";
    font-size: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

/*header h1 {
    text-align: left;
    padding-left: 15px;
}*/

main a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.cards {
    background-color: white;
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.carddata {
    background-image: url(image/data.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 30%;
    text-align: center;
    color: white;
}

.cardphoto {
    background-image: url(image/photo.jpg);
    background-size: cover;
    min-height: 300px;
    width: 30%;
    text-align: center;
}

.contacts {
    display: flex;
    padding-left: 40%;
    padding-right: 40%;
}

.contact-column {
    flex: 33.333%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.carddata p {
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.cardphoto p {
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
}

