html {
    height: 100%;
}

body {
    background-color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header {
    height: 480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(image/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

nav {
    text-align: right;
    padding-top: 50px;
    padding-right: 30px;
}

main {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 40px;
}

.data {
    margin-left: auto;
    margin-right: auto;
    width: 512px;
    background-color: teal;
}

.photography {
    margin-left: auto;
    margin-right: auto;
    width: 512px;
    background-color: skyblue;
}

footer {
    background-color: rgb(69, 72, 85);
    background-size: cover;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

footer p {
    color: white;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    margin-top: 15px;
}

h1 {
    color: white;
    font-family: 'Zen Loop', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    padding-left: 30px;
}

main h2 {
    color: rgba(26,26,26,.7);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px
}

a {
    color: "white";
    font-size: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

/*header h1 {
    text-align: left;
    padding-left: 15px;
}*/

main a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.cards {
    background-color: white;
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.carddata {
    background-image: url(image/data.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 30%;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}


.cardphoto {
    background-image: url(image/photo.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 30%;
    text-align: center;
    margin-bottom: 40px;
}

.mob-wrapper {
    display: none;
}

/* Tablet View */
@media (max-width: 960px){
    .carddata {
        width: 80%;
    }
    .cardphoto {
        width: 80%;
    }

    nav { 
        display: none;
    }

    .mob-wrapper {
        display: block;
        padding-right: 30px;
        padding-top: 33px;
    }

    .mob-nav {
        display: none;
        position: absolute;
    }

    .mob-button {
        display: block;
        padding: 15px 30px;
        background-color: black;
        text-align: center;
        margin-left: -23px;
    }

    .mob-nav a {
        color: white;
        text-decoration: none;
        font-size: 0.5rem;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Montserrat', sans-serif;
    }
}

/* Mobile View */
@media (max-width: 400px){
    .carddata {
        width: 100%;
    }

    .cardphoto {
        width: 100%;
    }

    .contact-column a {
        font-size: 1rem;
    }

    .contact-column p {
        font-size: 0.9rem;
    }
}

.contacts {
    display: flex;
    padding-left: 40%;
    padding-right: 40%;
    justify-content: space-evenly;
    text-align: center;
}

.contact-column {
    flex: 33.333%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.carddata p {
    line-height: 1.5rem;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
}

.cardphoto p {
    line-height: 1.5rem;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    color: rgba(26,26,26,.7);
}

.intro {
    color: rgba(26,26,26,.7);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


